{% extends "users/base.html" %}

    {% block header %}
        <!-- We might want to move these to the base.html -->
        <a class="user" href='/rpg/character_selection/'>Make a new character</a>
        <a class="user" href="/rpg/log_out/">Log Out</a>	
    {% endblock %}
    {% block content %}

	<div>
		<img src="http://blogs-images.forbes.com/erikkain/files/2014/09/shadow-of-mordro.jpg" class="img-circle center-block img-responsive" width='1000'>
	</div>
	{% endblock %}

    {% block scripts %}

        <script id="logIn" type="text/html">
            <div>
            <h1 class="heading">Log In</h1>
            <form id="logInForm" name="user" action="/rpg/log_in/" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Log In">
            </form>
            {% if error %}
            <h3 class="heading">{{ error }}</h3>
            {% endif %}
            </div>
        </script>

        <script id="register" type="text/html">
            <div>
            <h1 class="heading">Registration</h1>
            <form id="registerForm" name="user" action="/rpg/register/" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Register">
            </form>
            </div>
        </script>
        {%verbatim%}
        <script id="userGreeting" type="text/html">
            <h1 class="heading">Welcome {{ username }}!</h1>
        </script>
        {%endverbatim%}
    {% endblock %}