{% extends "users/base.html" %}

{% block content %}
<div class = "header">
    <h1 class = "heading">Welcome {{ username }}!</h1>
</div>
<ul>
<a href='/rpg/character_selection/'>Make a new character</a>
</ul>
    <div class "characters">
        {% if characters %}
            {% for character in characters %}
            <li><a href = "/{{ username }}/{{ character }}">{{character}}</a></li>
            {% endfor %}
        {% else %}
        <p>No characters made yet</p>
        {% endif %}
    </div>
{% endblock %}
