.header{
    border-bottom: 2px solid black;
}

h1.heading{
    color: black;
    float: right;
}

a{
    text-decoration: none;
    margin-left: 1em;
}

#boromir{
	margin-top:4em;
}

#footer{
	background-color: #001f3f;
	opacity: .5;
}

#classes h2{
	text-align: center;
}

