{% load staticfiles %}
<html>
    <head>
        <title>lifeofpy_thon Characters</title>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <script src="{%static "characters/characters.js"%}"></script>
         <link rel="stylesheet" href="{% static "characters/characters.css" %}">
    </head>
    <body>
        <div class ="container-fluid">
            <header>
                <nav class='navbar navbar-default navbar-static-top'>
                    <a id="make_character" href='/characters/character_selection/'>Make a new character</a>
                    <a id="character_list" href='/characters/list/'>My Characters</a>
                    <a href='/battlesystem/'>Battle!</a>
                    <a href="/users/log_out/">Log Out</a>
                {% block header %}
                {% endblock %}
                </nav>
                <div class="header">
                <h1 class = "heading">Life of py_thon</h1>
                </div>
            </header>
            <div class="content">
                {% block content %}
                {% endblock %}
            </div>

            <footer>
                {% block footer %}
                {% endblock %}
            </footer>
            {% block scripts %}
            {% endblock %}
        </div>
    </body>
</html>
