{% extends "characters/base.html" %}


{% block content %}
<div id='classes'>
	<h2>The Warrior</h2>
	<img id='warrior' src='https://d1nneesl1sywb9.cloudfront.net/global/includes/images/hero-warrior.jpg' height='300' class='img-circle image-responive center-block'></a>
	<form role="form" action='/characters/warrior/' method="POST">
		{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit" value="Submit">Submit</button>
	</div>
	</form>
	<h2>The Mage</h2>
	<img id='mage' src='http://th01.deviantart.net/fs71/PRE/i/2014/021/5/4/mage_by_josearias-d6ckiyf.jpg' height='300' class='img-circle image-responive center-block'></a>
		<form role="form" action='/characters/mage/' method="POST">
			{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit">Submit</button>
	</div>
	</form>
	<h2>The Paladin	</h2>
	<img id='paladin' src='http://www.primagames.com/media/images/news/Hearthstone-Paladin.jpg' height='300' class='img-circle image-responive center-block'></a>
		<form role="form" action='/characters/paladin/' method="POST">
			{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit">Submit</button>
	</div>
	</form>

</div>
{% endblock %}
