{% extends "characters/base.html" %}


{% block content %}
<div id='classes'>
	<h2>The Warrior</h2>
	<img id='warrior' src='https://d1nneesl1sywb9.cloudfront.net/global/includes/images/hero-warrior.jpg' height='300' class='img-circle image-responive center-block'></a>
	<form role="form" action='/characters/warrior/' method="POST">
		{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit" value="Submit">Submit</button>
		<div class = "description">
			<p>The warrior is of the feral folk, raised among the scattered tribes of barbarians living on the fringe of  civilization.   Dim of mind but strong of body, the warrior craves strife and lives for carnage.  Wearing armor a patchwork collage of armor pieces  salvaged from felled enemies; the warrior's strongest weapon is savagery.  Lacking either the pure destructive attacks of the Mage or the defense of the Paladin, the warrior lies somewhere in the middle, and is the most balanced of the classes - just don't invite him to a dinner party.</p>
		</div>
	</div>
	</form>
	<h2>The Mage</h2>
	<img id='mage' src='http://th01.deviantart.net/fs71/PRE/i/2014/021/5/4/mage_by_josearias-d6ckiyf.jpg' height='300' class='img-circle image-responive center-block'></a>
		<form role="form" action='/characters/mage/' method="POST">
			{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit">Submit</button>
	</div>
	<div class = "description">
		<p>A recent graduate of the Bïihte Academy of the Arcane, the Mage is a wielder of powerful spells, able to cause massive destruction on the battlefield in short order. However, a youth wholly dedicated to enhancing the mind has left the body brittle.   Meanwhile, battlefield protection is sparse: the runed robes which aid in mobility and the summoning of otherworldly forces also leave the Mage highly vulnerable to damage.</p>
	</div>
	</form>
	<h2>The Paladin	</h2>
	<img id='paladin' src='http://www.primagames.com/media/images/news/Hearthstone-Paladin.jpg' height='300' class='img-circle image-responive center-block'></a>
		<form role="form" action='/characters/paladin/' method="POST">
			{% csrf_token %}
	<div class="form-group">
		<label for="nameSelection">Name</label>
		<input name="name" type="name" class="form-conrol" placeholder="Select a name">
		<button class="btn-primary" type="submit">Submit</button>
		<div class = "description">
			<p>Groomed from birth as healers and peace-bringers, the Paladins of the Great Citadel are hardy and highly resilient combatants.  Donning blessed white-gold enameled plate armor, these holy warriors prefer survivability over all.  They rely on their defenses and steadfast faith to keep them alive on the battlefield while they bombard their foes with religiously charged rhetoric.</p>
		</div>
	</div>
	</form>

</div>
{% endblock %}
