{% extends "characters/base.html" %}
    {% block header %}
    <a id="character_list" href="/characters/list/">Character List</a>
    {% endblock %}
    {% block scripts %}
        <script id="welcomePage" type="text/html">
            <h1 class="heading">Welcome {{ username }}!</h1>
            <div class="characters">
                <p>{{ username }}'s Heros</p>
                {% verbatim %}
                {{#characters}}
                    <li><a href = "/characters/{{ id }}">{{name}}</a></li>
                {{/characters}}
                {{^characters}}
                <p>No characters made yet</p>
                {{/characters}}
                {% endverbatim %}
            </div>
        </script>
    {% endblock %}
