{% extends "users/base.html" %}

    {% block content %}

	<div>
		<img src="http://blogs-images.forbes.com/erikkain/files/2014/09/shadow-of-mordro.jpg" class="img-circle center-block img-responsive" width='1000'>
	</div>
	{% endblock %}

    {% block scripts %}
        <script id="logIn" type="text/html">
            <div>
            <h1 class="heading">Log In</h1>
            <form id="logInForm" name="user" action="/users/log_in/" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Log In">
            </form>
            {% if error %}
            <h3 class="heading">{{ error }}</h3>
            {% endif %}
            </div>
        </script>

        <script id="register" type="text/html">
            <div>
            <h1 class="heading">Registration</h1>
            <form id="registerForm" name="user" action="/users/register/" method="POST">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Register">
            </form>
            </div>
        </script>
    {% endblock %}
