{% extends "characters/base.html" %}

{% block files %}
{% endblock %}

{% block header %}
    <a id="home" href="/characters/">Home</a>
    <a href="/users/log_out/">Log Out</a>
{% endblock %}

{% block content %}
    <div id="character_page">
        <h1>Name: {{character.name}}</h1>
            <p>Type: {{character.race}}</p>
        <ul>
            <li>Hit Points: {{attributes.hit_points}}</li>
            <li>Power: {{attributes.power}}</li>
            {% for attack in attacks %}
            <li>Attack Name: {{attack.name}} </li>
            <li>Attack Type: {{attack.element}} </li>
            {% endfor %}
        </ul>

        <form class="delete" role="form" action='/characters/delete/' method="POST">
            {% csrf_token %}
            <input name="character_id" type="hidden" value={{ character.id }}>
            <button class="btn-primary" type="submit">Delete</button>
        </form>

        <form class="edit" role="form" action='/characters/edit/' method="GET">
            {% csrf_token %}
            <input name="character_id" type="hidden" value={{ character.id }}>
            <button class="btn-primary" type="submit">Edit</button>
        </form>

        <div class='pic'>
            {% load staticfiles %}
            <img src='{% static "" %}{{ character.race }}.jpg' height='300' class='img-circle image-responive center-block'></a>
        </div>
    </div>
{% endblock %}
