{% extends "characters/base.html" %}
{% block files %}
{% endblock %}
{% block header %}
    <a id="home" href="/characters/">Home</a>
    <a href="/users/log_out/">Log Out</a>
{% endblock %}
{% load staticfiles %}
{% block content %}
    <div id="character_page">
        <h1>Name: {{character.name}}</h1>
            <p>Type: {{character.race}}</p>
        <ul>
            <li>Hit Points: {{attributes.hit_points}}</li>
            <li>Power: {{attributes.power}}</li>
            {% for attack in attacks %}
            <li>Attack Name: {{attack.name}} </li>
            <li>Attack Type: {{attack.element}} </li>
            {% endfor %}
        </ul>
        <div class = 'pic'>
        {% if character.race == 'warrior' %}
        <img id='warrior' src='{% static "warrior.jpg" %}' height='300' class='img-circle image-responive center-block'></a>
        {% elif character.race == 'mage' %}
        <img id='mage' src='{% static "mage.jpg" %}' height='300' class='img-circle image-responive center-block'></a>
        {% else %}
        <img id='paladin' src='{% static "paladin.jpg" %}' height='300' class='img-circle image-responive center-block'></a>
        </div>
    {% endif %}
    </div>
{% endblock %}
