{% extends "characters/base.html" %}
{% load staticfiles %}
    {% block scripts %}
        <script id="welcomePage" type="text/html">
            <div class="characters">
                <p>{{ username }}s Heros</p>
                {% verbatim %}
                {{#characters}}
                    <li><a href = "/characters/{{ id }}">{{name}}</a></li>
                {{/characters}}
                {{^characters}}
                <p>No characters made yet</p>
                {{/characters}}
                {% endverbatim %}
            </div>
        </script>

        <script id="character_selection" type="text/html">
            <div class="characters">
                <p>Select Hero</p>
                {% verbatim %}
                {{#characters}}
                    <li><a href="/battlesystem/{{ id }}/">{{name}}</a></li>
                {{/characters}}
                {{^characters}}
                <p>No characters made yet</p>
                {{/characters}}
                {% endverbatim %}
            </div>
        </script>

        <script id='classes' type='text/html'>
            <h2>The Warrior</h2>
            <img id='warrior' src='{% static "warrior.jpeg" %}' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/warrior/' method="POST">
                {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit" value="Submit">Submit</button>
            </div>
            </form>

            <h2>The Mage</h2>
            <img id='mage' src='{% static "mage.jpeg" %}' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/mage/' method="POST">
                    {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit">Submit</button>
            </div>
            </form>

            <h2>The Paladin </h2>
            <img id='paladin' src='{% static "paladin.jpeg" %}' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/paladin/' method="POST">
                    {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit">Submit</button>
            </div>
            </form>
        </script>
    {% endblock %}
