{% extends "characters/base.html" %}
    {% block scripts %}
        <script id="welcomePage" type="text/html">
            <div class="characters">
                <p>{{ username }}s Heros</p>
                {% verbatim %}
                {{#characters}}
                    <li><a href = "/characters/{{ id }}">{{name}}</a></li>
                {{/characters}}
                {{^characters}}
                <p>No characters made yet</p>
                {{/characters}}
                {% endverbatim %}
            </div>
        </script>

        <script id="character_selection" type="text/html">
            <div class="characters">
                <p>Select Hero</p>
                {% verbatim %}
                {{#characters}}
                    <li><a href="/battlesystem/{{ id }}/">{{name}}</a></li>
                {{/characters}}
                {{^characters}}
                <p>No characters made yet</p>
                {{/characters}}
                {% endverbatim %}
            </div>
        </script>

        {% verbatim %}
        <script id='character_page' type='text/html'>
            <h1>Name: {{character.name}}</h1>
            <p>Type: {{character.race}}</p>
            <ul>
                <li>Hit Points: {{attributes.hit_points}}</li>
                <li>Power: {{attributes.power}}</li>
                {% for attack in attacks %}
                <li>Attack Name: {{attack.name}} </li>
                <li>Attack Type: {{attack.element}} </li>
                {% endfor %}
            </ul>
            <div class = 'pic'>
            {% if character.race == 'warrior' %}
            <img id='warrior' src='https://d1nneesl1sywb9.cloudfront.net/global/includes/images/hero-warrior.jpg' height='300' class='img-circle image-responive center-block'></a>
            {% elif character.race == 'mage' %}
            <img id='mage' src='http://th01.deviantart.net/fs71/PRE/i/2014/021/5/4/mage_by_josearias-d6ckiyf.jpg' height='300' class='img-circle image-responive center-block'></a>
            {% else %}
            <img id='paladin' src='http://www.primagames.com/media/images/news/Hearthstone-Paladin.jpg' height='300' class='img-circle image-responive center-block'></a>
            </div>
            {% endif %}
        </script>
        {% endverbatim %}

        <script id='classes' type='text/html'>
            <h2>The Warrior</h2>
            <img id='warrior' src='https://d1nneesl1sywb9.cloudfront.net/global/includes/images/hero-warrior.jpg' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/warrior/' method="POST">
                {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit" value="Submit">Submit</button>
            </div>
            </form>

            <h2>The Mage</h2>
            <img id='mage' src='http://th01.deviantart.net/fs71/PRE/i/2014/021/5/4/mage_by_josearias-d6ckiyf.jpg' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/mage/' method="POST">
                    {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit">Submit</button>
            </div>
            </form>

            <h2>The Paladin </h2>
            <img id='paladin' src='http://www.primagames.com/media/images/news/Hearthstone-Paladin.jpg' height='300' class='img-circle image-responive center-block'></a>
            <form class="create" role="form" action='/characters/paladin/' method="POST">
                    {% csrf_token %}
            <div class="form-group">
                <label for="nameSelection">Name</label>
                <input name="name" type="name" class="form-conrol" placeholder="Select a name">
                <button class="btn-primary" type="submit">Submit</button>
            </div>
            </form>
        </script>
    {% endblock %}
